<h3>
Our team is thinking of ways to enhance your vacation experience, even before you arrive!

You can reserve a parking space and save time.

Click the Save parking button at the end of the reservation, fill out the details, and get ready for your vacation with less stress.

A parking space will be reserved for you
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="button" (click)="navigateToMyOrders()">Close</button>
  </div>
</h3>