.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  } 
 
  .button {
    color: #fff;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #007885;
    height: 35px;
    margin-left:10PX;
  }
    
  .button1 {
    color: #007885;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #fff;
    height: 35px;
    margin-left:235px;
    margin-top:-7.5%;
  }

  .header{
    color: #007885;
    font-weight: bold;
  }

  
.example-card{
  max-width: 45%;
  margin-left: auto;
  margin-right: auto; 

} 
    
.designpage{
  height: 450px;
}