
<div class="designpage">
<mat-card class="example-card">
      <h1 class="header">Cancel your booking</h1>
    <form #cancelForm="ngForm">
      <div class="example-container">
        <p>
            <label id="example-radio-group-label"><b>Tell us your reason for canceling</b></label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
              [(ngModel)]="selectedReason" [ngModelOptions]="{standalone: true}">
            <mat-radio-button class="example-radio-button" *ngFor="let reason of reasons" [value]="reason">
                {{reason}}
              </mat-radio-button>
            </mat-radio-group>
          </p> 
        <div>
            <button mat-raised-button color="primary" 
            (click)=Reason(hotelId,selectedReason)
            (click)="openDialog()"
            (click)="hotelService.delete(hotelId)"
            class="button"
            [disabled]="!selectedReason">
              Yes, cancel this booking
           </button>
            <button mat-raised-button (click)="navigateToMyOrders()" 
            class="button1">
              No, I don't want to cancel
            </button>

        </div>
      </div>
    </form>
   </mat-card>