<div class ="designpage">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>welcome! to login please enter your details</mat-card-subtitle>
    </mat-card-header>
    <form #signinForm="ngForm" (ngSubmit)="onSubmit(email)">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard" class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>

            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard" class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password" 
                name = "password" 
                type = "password"
                [type]="hide ? 'password' : 'text'"
                required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
          
            </mat-form-field>
          </p>                                       
        <div >
          <mat-card-actions>
              <button  class="button" mat-raised-button color="primary"
                      [disabled]="!signinForm.form.valid"
                       (click)="onSubmit(email)">
                       Login
              </button>
            </mat-card-actions>
          </div>
          <mat-error><p *ngIf = "isError">{{errorMessage}}</p></mat-error>
        </div>
      </form>
     </mat-card>
    </div>

