.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
   background: inherit; 

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.whitelink {
  color:black;
  text-decoration:none;
  margin-left: 4px;
  font-size: 15px;
  cursor: pointer;
}



.name{
  text-align:center;
  font-weight: bold;

}
.welcomeText{
  text-align:center;
  font-weight: bold;
}


img {
  display: block;
  margin: 0 auto;
  border-radius: 10rem;
  max-width: 130px;
}

#main {
  background-color:#007885;
}

.spacer {
  flex: 11 auto;
}