<p *ngIf = "!(authService.getUser() | async)"></p>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <br>
      <h2 class="welcomeText" style=color:#007885>Welcome</h2>
      <b><p class="name" style=color:#007885>{{useremail}}</p></b>
      <hr>
    <mat-toolbar class="name" *ngIf = "(authService.getUser() | async)">Menu</mat-toolbar>
    <mat-nav-list *ngIf = "(authService.getUser() | async)">
      <a mat-list-item routerLink="/home" routerLinkActive="active" *ngIf="!isAdmin"><mat-icon  aria-label="Example home icon">home </mat-icon>  Home</a>
      <a mat-list-item routerLink="/form" routerLinkActive="active" *ngIf="!isAdmin"><mat-icon  aria-label="Example flight icon">flight </mat-icon>  Book Now</a>
      <a mat-list-item routerLink="/myorders" routerLinkActive="active" *ngIf="!isAdmin"><mat-icon  aria-label="Example event icon">event </mat-icon>  My Orders</a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" *ngIf="isAdmin"><span class="material-icons">leaderboard</span>Dashboard</a>
      <a mat-list-item routerLink="/table" routerLinkActive="active" *ngIf="isAdmin"><span class="material-icons">list_alt</span>Orders</a>
      <a mat-list-item routerLink="cancelTable" routerLinkActive="active" *ngIf="isAdmin"><mat-icon  aria-label="Example cancel icon">cancel</mat-icon>Cancelations</a>
      <a mat-list-item routerLink="todo" routerLinkActive="active"><mat-icon  aria-label="Example event icon">event</mat-icon>Recognition</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="main">
      <div fxLayout="column" fxLayoutAlign="center center">
        <img  mat-card-image src="https://firebasestorage.googleapis.com/v0/b/project2021-9111b.appspot.com/o/logo.PNG?alt=media&token=b584c1a3-d736-4933-8003-dd149dd39b69">      </div>
    </div> 
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span >JCE Booking</span>
      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)">Sign-Up</a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)">Login</a>
      <a class = "whitelink" (click) = "logout()" *ngIf = "(authService.getUser()|async)">Log-Out</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
