.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-panel-description {
    text-align: left;
    width:400px;
  }

  mat-panel-title {
    width:400px;
  }

  #colordiv {
background-color:#F9F9F9;
  }

  .button {
    color: #fff;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #007885;
    height: 35px;
    

  }
  .button2 {
    color: #fff;
    border: 1px solid #3e0085;
    text-transform: uppercase;
    display: block;
    background-color: #3e0085;
    height: 35px;
    

  }
  
  .reason{
    margin-left: 14px;
  }