<mat-accordion *ngIf = "(authService.getUser()| async)">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let hotel of hotels;let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Hotel:</b> {{hotel.hotel}}
           </mat-panel-title>
      <mat-panel-title>
        <b>Check-In:</b> {{hotel.start}}
      </mat-panel-title>
      <mat-panel-title>
        <b>Check-Out:</b> {{hotel.end}}
      </mat-panel-title>
      <mat-panel-title>
          <button class="button" mat-raised-button color = "primary" *ngIf = "!(hotel.reason)&&(hotel.start > today)" 
          (click)="SaveHotelId(hotel.id, hotel.firstname,hotel.lastname,hotel.price, hotel.hotel)">
            Cancel Order
          </button> 
          <span class="reason" *ngIf = "(hotel.reason)">
            Cancelled order
          </span>
          <span  *ngIf="!(hotel.start > today)" style=color:#007885> The date has passed
          </span>
      </mat-panel-title>

      <mat-panel-title>
        <button class="button2" mat-raised-button color = "primary" *ngIf = "!(hotel.reason)&&(hotel.start > today)"  
        (click)="go(hotel.id,hotel.firstname,hotel.lastname)">
          Save Parking
        </button> 
        <span class="reason" *ngIf = "(hotel.reason)">
          Reserved parking   
        </span>
        </mat-panel-title>

    </mat-expansion-panel-header>
    <div id="colordiv">
    <b style=color:#007885>Order Details:</b>
    <p></p>
    <b>First Name:</b> {{hotel.firstname}}
    <br>
    <b>Last Name:</b> {{hotel.lastname}}
    <br>
    <b>Rooms:</b> {{hotel.room}}
    <br>
    <b>Adults:</b> {{hotel.adults}}
    <br>
    <b>Children:</b> {{hotel.children}}
    <br>
    <b>Babies:</b> {{hotel.babies}}
    <br>
    <b>Meal:</b> {{hotel.meal}}
    <br>
    <b>Deposit:</b> {{hotel.deposit}}
    <br>
    <b>Price:</b> {{hotel.price}} €
  </div>
  </mat-expansion-panel>
</mat-accordion>