
<mat-form-field>
    <mat-label><mat-icon>search</mat-icon>  Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by...." #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          
    
    <!-- order Id Column -->  
    <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Number </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.id}} 
        </td>
    </ng-container> 

    <!-- today Column -->  
    <ng-container matColumnDef="today">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cancellation date </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.today}} 
        </td>
    </ng-container>      

    <!-- First Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element; let i = index">         
        {{element.firstname}}</td>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element; let i = index">        
        {{element.lastname}} </td>
    </ng-container>


    <!-- User email Column -->
    <ng-container matColumnDef="useremail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Email </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.useremail}} 
        </td>
    </ng-container>

    <!--  hotel Column -->
     <ng-container matColumnDef="hotel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  hotel </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.hotel}} 
        </td>
    </ng-container>
    

    <!-- Price Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.price}} €
        </td>
    </ng-container> 

    <!-- Reason Column -->
    <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
        <td mat-cell *matCellDef="let element; let i = index">        
              {{element.reason}} 
        </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 25]" showFirstLastButtons></mat-paginator>
</div>
  

