
  <mat-horizontal-stepper class="background" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form class="background" [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Fill out your details</ng-template>

          <mat-card class="example-card">
            <h3 class="header"> Personal Details:</h3>

          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field> 

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>        

        <mat-form-field appearance="fill" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-error>This field is required</mat-error>
          <mat-select formControlName="country" required>
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
        
          <p>
            <div class="card">
            <mat-card class="example-card">
              <h3 class="header">Booking Details:</h3>
              <mat-form-field aria-label appearance="outline" class="range">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [min]="today" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-error>This field is required</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>         
          <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Hotel</mat-label>
            <mat-error>This field is required</mat-error>
            <mat-select formControlName="hotel" required>
              <mat-option *ngFor="let hotel of hotels" [value]="hotel.value">
                {{hotel.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>  
          <mat-form-field aria-label appearance="outline">
            <mat-label>Number of Rooms</mat-label>
            <input formControlName="room" type ="number" min="1" matInput>
        </mat-form-field>
        <br>
        <mat-form-field aria-label appearance="outline">
          <mat-label>Adults</mat-label>
          <input formControlName="adults" type ="number" min="0" matInput required>
          <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field aria-label appearance="outline">
        <mat-label>Children</mat-label>
        <input formControlName="children" type ="number" min="0" matInput>
    </mat-form-field>

    <mat-form-field aria-label appearance="outline">
      <mat-label>babies</mat-label>
      <input formControlName="babies" type ="number" min="0" matInput>
  </mat-form-field>
  
  <br>
  <mat-form-field appearance="fill" appearance="outline" class="example-width1">
    <mat-label>Meal</mat-label>
    <mat-error>This field is required</mat-error>
    <mat-select formControlName="meal" required>
      <mat-option *ngFor="let meal of meals" [value]="meal.value">
        {{meal.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill" appearance="outline" class="example-width1">
    <mat-label>Deposit-type</mat-label>
    <mat-error>This field is required</mat-error>
    <mat-select formControlName="deposit" required>
      <mat-option *ngFor="let deposit of deposits" [value]="deposit.value">
        {{deposit.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>  

          <div>
            <button class="button2" style="margin-right:10px" mat-raised-button (click)="Calc()" matStepperNext>Next</button>
          </div>
    </mat-card>
  </div>
  </form>
</mat-step>

      <!-- second step FORM -->

      <mat-step [stepControl]="secondFormGroup" label="Fill out your payment details">
        <form [formGroup]="secondFormGroup" >
          <mat-card class="example-card"  class="left-page"> 
          <h3 class="header">Your Payment Details:</h3>
            <mat-form-field appearance="outline"  class="example-width">
            <mat-label>ID number</mat-label>
              <input matInput formControlName="id" required>
              <mat-error>This field is required</mat-error>
           </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline" class="example-width">
          <mat-error>This field is required</mat-error>
          <mat-label>Number of Payments</mat-label>
          <mat-select formControlName="payments" required>
            <mat-option *ngFor="let payment of payments" [value]="payment.value">
              {{payment.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>  
      <br>
        <mat-form-field appearance="outline">
        <mat-label>Credit Card Number</mat-label>
          <input matInput #Code maxlength="16" placeholder="0000-0000-0000-0000" formControlName="credit" required>
          <mat-error>This field is required</mat-error>
          <mat-hint>{{Code.value.length}} / 16</mat-hint>
        </mat-form-field> 
            
        <mat-form-field appearance="outline">
        <mat-label>CVV</mat-label>
          <input matInput #cvvCode maxlength="3"placeholder="Ex. 123" formControlName="cvv" required>
          <mat-error>This field is required</mat-error>
          <mat-hint>{{cvvCode.value.length}} / 3</mat-hint>
          </mat-form-field> 
        <br><br>
        <b>Valid thru:</b>
        <br>
        <mat-form-field appearance="fill" appearance="outline">
          <mat-label>Month</mat-label>
          <mat-error>This field is required</mat-error>
          <mat-select formControlName="month" required>
            <mat-option *ngFor="let month of months" [value]="month.value">
              {{month.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Year</mat-label>
            <mat-error>This field is required</mat-error>
            <mat-select formControlName="year" required>
              <mat-option *ngFor="let year of years" [value]="year.value">
                {{year.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
        <section class="example-section" appearance="outline">
          <mat-checkbox formControlName="saved" class="example-margin">Save the details for a future purchase</mat-checkbox>
        </section> 
          </div>
          <br>
          <img class="example-card" mat-card-image src="https://firebasestorage.googleapis.com/v0/b/project2021-9111b.appspot.com/o/credit.PNG?alt=media&token=1cbc90cb-6bd2-45b9-8329-31f33269f466">
          <br><br><br>
        <button  class="button1" mat-raised-button matStepperPrevious>Back</button>
        <button class="button" mat-raised-button matStepperNext >Next</button>
      </mat-card>
      </form>


    <!--Order summary for API exchange coin-->
    <div class="right-page">
      <mat-card >
        <h3 class="header">Your Booking Details:</h3> <p></p>
        <div class="check-in">
          Check-in  <br>
          <b>{{this.start}} </b> <br>
          From 3:00 PM 
        </div>
        <div class="check-out">
          Check-out  <br>
          <b>{{this.end}} </b> <br>
          Until 10:00 AM 
        </div><br>
        <p>Total length of stay : <b>{{this.between}} nights </b></p>
        <p>Hotel type :  <b>{{this.firstFormGroup.get('hotel').value}}</b></p>
        <p>Number of adults : <b>{{this.firstFormGroup.get('adults').value}} adults</b></p>
        <p>Number of children : <b>{{this.firstFormGroup.get('children').value || 0}} children</b></p>
        <div class="price">
        <b>Property's Currency </b> <div class="rightPrice"><b>{{this.price | number:'1.0-0'}} €</b></div><br>(in EUR)<br><br>
        <b>Price</b> <div class="rightPrice"><b>{{this.localPrice | number:'1.0-1'}} {{this.symbol}}</b></div><br>(your currency - {{this.coin}})
        </div>
      </mat-card>
      
    </div>
    </mat-step>

      <!-- third step FORM -->
      <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
      <mat-card class="thank"> 
      <ng-template matStepLabel>Finish order</ng-template>
      <div>
      <h1 class="header">Thank you.</h1>
      <h3 class="header">Your order was completed successfully</h3>

      <h5><b>Order Summary:</b></h5>
            hotel: {{this.firstFormGroup.get('hotel').value}}
            <br>
            Check-in: {{this.start}} 
            <br>
            Check-out: {{this.end}}
    </div>
      <div>
        <button class="button4" mat-button matStepperPrevious>Back</button>
        <button (click)="navigateToMyOrders()" class="button3" mat-raised-button matStepperNext type="submit">Save order</button>
      </div>
    </mat-card>
    </form>
    </mat-step> 

  </mat-horizontal-stepper>
