.mat-stepper-horizontal {
    margin-top: 5px;
  }
  
  .mat-form-field {
    margin-top: 1px;
  }

  .mat-form-field {
    margin-right: 8px;
  }

  .example-width {
    width: 40%;
  }

  .example-width1 {
    width: 48.55%;
  }

  .example-width2 {
    width: 61%;
  }

  .range{
    width:32%;
  }

  .example-card {
    max-width: 300px;
    margin-left:0.1%;
  }

  .left-page{
    float:left;
    width:50%;
    
  }

  .right-page{
    margin-left:62%;
    width:30%;
  }

  .left-page{
    margin-left:8%;
    width:48%;
  }


  .check-in{
    float:left;
    width:35%;
    
  }

  .check-out{
    margin-left:45%;
    width:35%;
  }

  .price{
    background-color: #96d3da;
    padding: 10px;  
  }

  .rightPrice{
    float:right;
    padding-right:20px; 

  }

  .thank{
    width: 40%;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .button {
    color: #fff;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #007885;
    height: 35px;
    margin-left:80PX;
    margin-top: -7%;
  }
    
  .button1 {
    color: #007885;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #fff;
    height: 35px;
    margin-right:10px
  }
    
  .button2 {
    color: #fff;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #007885;
    height: 35px;
    margin-right:10px
  }

  .button3 {
    color: #fff;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #007885;
    height: 35px;
    margin-left:80PX;
    margin-top: -8%;
  }

  .button4 {
    color: #007885;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #fff;
    height: 35px;
    margin-right:10px;
    margin-top: 15px;
  }


.example-card{
  max-width: 62%;
  margin-left: auto;
  margin-right: auto; 

}

.card{
  padding-top: 1px;
}

.header{
  color: #007885;
  font-weight: bold;

}

body {
  background-color: rgb(252, 248, 248);
}

.background{
  background-color: rgb(252, 248, 248);
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10rem;
  max-width: 80px;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}