<div id="head" class="header-container">
    <div>
    <h1 class="heading">Welcome to JCE Booking</h1>
    </div>

    <div id="booknow">
        <div fxFlex fxLayoutAlign="center center">
          <button *ngIf = "(authService.getUser() | async)" class="book-now-btn" mat-stroked-button color="primary"
          (click)="navigateToForm()">
            Book Now
          </button>
        </div>
    </div>
</div>
<br>
<section id="s2">
    <h2 class="heading1">Our Hotels</h2>
    <div>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile><img src="https://firebasestorage.googleapis.com/v0/b/project2021-9111b.appspot.com/o/cityhotel.jpg?alt=media&token=04f38d8a-4170-4216-a4a3-10095df69daf" ></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>City Hotel</mat-card-title>
          <mat-card-content>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
              tenetur architecto id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eum praesentium
              rem. Voluptatem, ipsam sint. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, quaerat voluptatem beatae ratione
              quo nobis cupiditate sed delectus, ad vel unde ex harum repellat optio.</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> 
  </div>
  <div>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img src="https://firebasestorage.googleapis.com/v0/b/project2021-9111b.appspot.com/o/resorthotel.jfif?alt=media&token=58cd8b52-c541-466b-9568-c47678b982d9" ></mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <mat-card-title>Resort Hotel</mat-card-title>
            <mat-card-content>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eum praesentium
                rem. Voluptatem, ipsam sint. </p>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, quaerat voluptatem beatae ratione
                quo nobis cupiditate sed delectus, ad vel unde ex harum repellat optio.</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list> 
    </div>   
  </section>
<main>
    <div>
      <section id="firstSection">
        <h2 class="heading1">Hotels Theme</h2>
        <mat-grid-list #grid rowHeight="1:1" cols="4">
          <mat-grid-tile>
            <mat-card>
              <mat-icon>hotel</mat-icon>
              <mat-card-title>Best Rooms</mat-card-title>
              <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card>
              <mat-icon>pool</mat-icon>
              <mat-card-title>Pool & Spa</mat-card-title>
              <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card>
              <mat-icon>wifi</mat-icon>
              <mat-card-title>Unlimited Wifi</mat-card-title>
              <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card>
              <mat-icon>games</mat-icon>
              <mat-card-title>Games & Activities</mat-card-title>
              <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </section>
</div>




