#head {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/project2021-9111b.appspot.com/o/sea.png?alt=media&token=e5fc563e-d819-476c-abc0-12f5baa7d02a");
    background-repeat: no-repeat;
    height:200px;
    background-size: auto;
    width:100%
}   

.heading {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #fff;
    text-shadow: 3px 3px #007885;
    padding-top: 40px;
    text-align: center;
  }

  .book-now-btn {
    color: #fff;
    border: 1px solid white;
    text-transform: uppercase;
    display: block;
    background-color: #007885;
    margin: 30px;
    height: 50px;
  }

  mat-card-title {
    font-size: 18px !important;
    padding-top: 10px;
  }
  
  mat-icon {
    font-size: 35px !important;
    color: #18a7b5;
    margin-bottom: 18px !important;
  }

  img {
    height: 250px;
    width: 80%;
  }
  
  h2 {
    font-weight: 400;
    padding-bottom: -500px;
  }

  .heading1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #007885;
    text-shadow: 3px 3px #FFF;
    padding-top: 40px;
    text-align: center;
    font-weight: bold;

  }

  #booknow {
    margin: auto;
    width: 15%;
  }