<div class ="designpage">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>SignUp</mat-card-title>
      <mat-card-subtitle>Hi! to signup please enter your details</mat-card-subtitle>
    </mat-card-header>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard" class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>
                <mat-hint>The one you really read</mat-hint>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard" class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password" 
                name = "password" 
                type = "password"
                required>
              <mat-hint>6 characters or more</mat-hint>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </p>                                       
        <div >
            <button class="button" mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                     Sign Up
            </button>
        </div>
        <mat-error><p *ngIf = "isError">{{errorMessage}}</p></mat-error>
      </div>
    </form>
   </mat-card>

