.designpage{
    height: 450px;
    background-color: rgb(252, 248, 248); 
}

.example-card {
    max-width: 400px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .example-header-image {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/project2021-9111b.appspot.com/o/logo.PNG?alt=media&token=b584c1a3-d736-4933-8003-dd149dd39b69");
    background-size: cover;
  }

  
  .example-container{
    margin-left:15%;

  }

  .button {
    color: #fff;
    border: 1px solid white;
    text-transform: uppercase;
    display: block;
    background-color: #007885;
    margin: 30px;
    height: 35px;
    margin-left:-1%;
  }

  .example-full-width {
    width: 70%;
  }
  