<div>
        <div class="container"fxLayout="row" fxLayoutGap="10px">
 
            <mat-card class="designpage" fxFlex="24%">
                <div style="height: 400px;">

                    <mat-card class="KPI" >
                        <mat-card-title><h4><b>Number of orders</b></h4></mat-card-title>
                        <mat-card-content >
                            {{orders}}
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="KPI">
                        <mat-card-title><h4><b>Number of cancells</b></h4></mat-card-title>
                        <mat-card-content>
                            {{cancells}}
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="KPI">
                        <mat-card-title><h4><b>Cancellation Rate</b></h4></mat-card-title>
                        <mat-card-content>
                            {{(cancells/(cancells+orders))*100 | number:'1.0-1'}}%
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card class ="graph">
                            <div class="Pie-Chart" >
                                <h4 style="text-align: center; height: 10px;"><b>Hotel Type</b></h4>
                                <canvas baseChart 
                                [data]=[countCity,countResort]
                                [labels]="pieChartLabels" 
                                [chartType]="pieChartType"
                                [options]="pieChartOptions"
                                [plugins]="pieChartPlugins"
                                [legend]="pieChartLegend"
                                [colors]="chartColors">
                                
                              </canvas>
                            </div>
                    </mat-card>

                    <mat-card class ="graph1">
                            <div class="Bar-Chart">
                                <h4 style="text-align: center;  height: 10px; "><b>Orders Per Country</b></h4>
                                <canvas baseChart 
                                [datasets]= [{data:[Austria,Belgium,Brazil,Switzerland,China,Germany,Spain,France,UK,Irland,Italy,Netherlands,Portugal,Sweden,USA,Israel]}]
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [chartType]="barChartType" style="padding-top: 50px; display: inline-block" >
                                </canvas>
                            </div>    
                    </mat-card>
                </div>          
            </mat-card>
        </div>
</div>

