.KPI{
    height: 45px; 
    width:150px;
    display: inline-block;
    margin-right: 75px;
    margin-left: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
} 

.mat-card-title{
    text-align: center;
    height: 20px;
}

.mat-card-content{
    text-align: center;
    height: 15px;
}

.graph{
    height: 260px; 
    width: 400px; 
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 24px;
    display: inline-block;
}

.graph1{
    height: 260px; 
    width: 400px; 
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 24px;
    display: inline-block;
}

.Pie-Chart{
    float: right; 
    height:60vh; 
    width:30vw
}

.designpage{
    height: 450px;
    background-color: rgb(252, 248, 248); 
}


