<!-- file uploader -->
<div class ="designpage">
  <mat-card class="example-card">
    <mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
<div class="main">    
  <mat-card-title><h2 class="heading1">Recognition cars</h2></mat-card-title> 

  <div fxLayout="column" fxLayoutAlign="center center">
         <img src="https://firebasestorage.googleapis.com/v0/b/project2021-9111b.appspot.com/o/Image7B.webp?alt=media&token=b4667b47-d486-499b-967f-f40a4504bff9">
  </div>
  
 

  <h6 class="heading2">Please upload your file</h6>       
  <input (change)="onFilePicked($event)" 
         placeholder="Upload File" type="file" />
  <button (click)="onFileUpload()" class="myButton">Upload File</button>
  <p *ngIf="errorMsg"> Please Select A File</p>
</div>


