.heading1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #007885;
    text-shadow: 3px 3px #FFF;
    text-align: center;
    font-weight: bold;

  }

  .heading2 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #007885;
    text-shadow: 3px 3px #FFF;
    text-align: center;
    font-weight: bold;

  }

.designpage{
    height: 450px;
    background-color: rgb(252, 248, 248); 
}  

.example-card {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto; 
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 170px;
  }