table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  th{
    font-weight: bold;
  }

  .green{
    color: #4C9900;
    font-weight: bold;
    -webkit-text-stroke: black;
  }

  .red{
    color: #990000;
    font-weight: bold;
    -webkit-text-stroke: black;
  }

  .spacer {
    float: right;
    margin-right: 15px;
    color: #fff;
    border: 1px solid #007885;
    text-transform: uppercase;
    display: block;
    background-color: #007885;

  }

 