    
<mat-form-field>
    <mat-label><mat-icon>search</mat-icon>  Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by...." #input>
  </mat-form-field>


<button class = "spacer" mat-raised-button color = "primary" (click) = "sendAllData()">
    Predict All
</button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
         
    <!-- Check-in Column -->
    <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check-in </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.start}}           
        </td>
    </ng-container>
    
    <!-- Check-out Column -->
    <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check-out </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.end}}           
        </td>
    </ng-container> 

    <!-- Hotel type Column -->
    <ng-container matColumnDef="hotel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hotel type </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.hotel}}
        </td>
    </ng-container> 
     
    <!-- First Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element; let i = index">         
        {{element.firstname}}</td>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element; let i = index">        
        {{element.lastname}} </td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell *matCellDef="let element; let i = index">        
            {{element.country}} </td>
        </ng-container>

    <!-- Deposit Type Column -->
    <ng-container matColumnDef="deposit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deposit Type </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.deposit}} 
        </td>
    </ng-container>   

    <!-- Price Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.price}} €
        </td>
    </ng-container> 

    <!-- Meal Column -->
    <ng-container matColumnDef="meal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Meal </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.meal}}
        </td>
    </ng-container> 

    <!-- Adults Column -->
    <ng-container matColumnDef="adults">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Adults </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.adults}}
        </td>
    </ng-container>

    <!-- Children Column -->
    <ng-container matColumnDef="children">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Children </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.children}}
        </td>
    </ng-container>
    
    <!-- Order date Column -->
    <ng-container matColumnDef="today">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order date </th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{element.today}}
        </td>
    </ng-container> 

    <!-- Predict Column -->
    <ng-container matColumnDef="predict">
        <th mat-header-cell *matHeaderCellDef> Predict </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="[element.prediction=='Will arrive' ? 'green' : 'red']">        
        <button style="background-color: #007885;" mat-raised-button color = "primary" 
        (click) = "sendData(element)" *ngIf = "!element.prediction">
          Predict
        </button> 
        <span *ngIf = "element.prediction">{{element.prediction}}</span>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 25]" showFirstLastButtons></mat-paginator>
</div>
  
