:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.button1 {
  color: #fff;
    border: 1px solid white;
    text-transform: uppercase;
    display: block;
    background-color: #007885;
    /* margin: 30px; */
    height: 50px;
  }

  .button2 {
    color:#007885;
      border: 1px solid white;
      text-transform: uppercase;
      display: block;
      background-color:  #fff;
      /* margin: 30px; */
      height: 50px;
    }