<form #parkingForm = "ngForm">
    <br>
    <h1>
        You don't have to worry about finding parking, let us handle it for you
    </h1>
    <h3>Type your car and phone number in the boxes below</h3>
    <div>
    <mat-form-field style = "width:400px">
        <mat-label> License Car Number</mat-label>
        <input matInput #Code maxlength="9" placeholder="999-999-999" 
        [(ngModel)] = "licenseNum"
        name = "licenseNum">
      </mat-form-field>
    </div>
    <br>
      <div>
        <mat-form-field style = "width:400px">
            <mat-label>Phone Number</mat-label>
            <mat-icon matSuffix>phone</mat-icon>
            <input matInput #Code maxlength="16" placeholder="+972-xx-xxx-xxxx"  
            [(ngModel)] = "PhoneNum"
            name = "PhoneNum">
          </mat-form-field>
      </div>
      <div>
        <button class="button1" mat-raised-button (click)="SaveDynamo(hotelId,licenseNum)" color="primary">Save Now</button>

          <button class="button2" mat-raised-button (click)="navigateToMyOrders()" >Back</button>

          <button class="button1" mat-raised-button (click)="onSubmit()" color="primary">Send sms</button>
          </div>
  </form>


  